.authContainer {
    background-image: url("https://c7.alamy.com/comp/2G0N33H/bitcoin-cryptocurrency-blockchain-on-binary-golden-background-digital-money-abstract-background-in-digital-cyberspace-2G0N33H.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
